/* main header */
h1{
    /* change color and background*/
    color:rgb(37, 81, 138);
    background-color:antiquewhite;

    /* border long hand */
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: black;
    border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-style: dashed;
    border-left-style: inset;
    border-right-style: outset;
    border-bottom-style: dashed;
    border-bottom-left-radius: 1pc;
    border-bottom-right-radius: 1pc;

    /* short margin and short padding */
    margin:50px 200px 50px 320px;

    padding: 10px 10px 10px 10px;

    font-size: 4rem;
    text-align: center;

    /* font changes */
    font-family: "Chivo Mono";
}

/* Color of secondary headings*/
h2{
    color:#7231af;
}

/* Color of attendance, agenda, etc headerrs */
.atten-color{
    color:hsl(193, 56%, 44%);
}

/* Color of 'details' dropdowns */
summary{
    color:crimson;
}

/* Background color of the index element and header*/
.menu{
    background-color:blanchedalmond;

    /* short hand border */
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5cm;

    /* long hand margins for the index */
    margin-right: 700px;
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*font size and width*/
.first-p{
    font-size: 1em;
    width: 25ch;
}

.bob{
    margin: auto;
}

/* long padding */
.agenda{
    background-color: brown;
    padding-top: 1.5ex;
    padding-left: 5ex;
    padding-bottom: 5ex;
    padding-right: 5ex;
}

/* text decoration and alignment*/
.brainstorm{
    text-decoration: underline;
    text-align: center;
}

/* display nothing */
.testNone{
    display: none;
}

/* display inline-block */
.testInlineBlock{
    display:inline-block;
    width: 40ch;
    height: 50px;
}

/* test max and min widths*/
.img1{
    max-width: 400px;
    min-width: 80px;
    width:2000px;
}

.img2{
    min-height: 300px;
}

/* testing relative position */
.videopos{
    position: relative;
    left: 500px;
}

/* testing absolute position */
.audiopos{
    position: absolute;
}

/* when hovering over 'choose your major' turns violet*/
.firstfield:hover{
    color: blueviolet;
}

/* when clicking on 'random image' turns blue*/
.det:active{
    color: blue;
}

/* reverses the index (but completely ruins the look)*/
.menulist{
    display: flex;
    flex-direction:column;
}

/* uses flex on the lists and spaces them evenly*/
.flextest1{
    display: flex;
    justify-content: space-evenly;
}

/* uses flex on the 'major' but aligns the items to the end*/
.firstfield{
    display: flex;
    align-items:flex-end;
}

/* test grid with rows on the queries at the bottom */
.firstgrid{
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
} 

/* test grid with columns and justify on the paragraphs in the middle*/
.gridtest{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
}

/* test grid again on the details with justify center*/
.media{
    display:grid;
    gap:1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* if the screen width is less than 800px then the header itmes will turn blue */
@media (max-width: 800px) {
    .headitems{
        color: blue;
    }
}

@media print {
    .headitems{
        color: blue;
    }
}

/* id selector */
#StartofMeeting{
    color:aqua;
}

/* universal selector */
*{
    color:cadetblue;
}

/* attribute selector */
a[href*="Past" i] {
    color: black;
}

/* selector list */
ol, ul{
    font-size:larger;
}

/* descendant combinator */
p span {
    font-size: xx-small;
}

/* child combinator */
ul > li {
    margin: 1rem;
}

/* general sibling combinator */
h2 ~ h3{
    color: violet;
}

/* adjacent sibling combinator */
li:first-of-type + li {
    color:yellowgreen;
}

/* combining two selectors */
nav.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}